
.user {
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

.user-content {
  display: flex;
  flex-direction: row;
  padding: 2%;
}

.user-content-squeaks {
  width: 100%;
}

.user-greeting {
  font-size: 1.25em;
}

.user-options {
  display: flex;
  flex-direction: column;
  font-size: 2em;
}

.user-image-container {
  height: 2em;
  width: 2em;
}