
.user {
  width: 100%;
  height: 100vh;
}

.user-content {
  display: flex;
  flex-direction: row;
  padding: 2%;
}

.user-content-squeaks {
  width: 100%;
  padding: 0 2%;
}

.user-options {
  display: flex;
  flex-direction: column;
  font-size: 2em;
}

