/* elements  */

#root {
  width: auto!;
  background: linear-gradient(0.25turn, #ffffff, rgb(7, 95, 133) 25% , rgb(7, 95, 133) 75%, #ffffff);
  margin: -8px;
}

a {
  text-decoration: none;
}

button {
  width:fit-content;
  background-color: white;
  border: 2px solid rgb(7, 95, 133);
  border-radius: .5em;
  box-shadow: .1em .1em rgb(7, 95, 133);
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(7, 95, 133);
  margin: 0;
}

html {
  width: 100%;
}

header {
  background-color: white;
  position:static;
}

img {
  height: 100%;
  width: 100%;
}

main {
  height: 100vh;
}

/* attributes */

.app {
  background-color: rgb(255, 255, 255);
  width: 100%;
  min-width: 300px;
}

.border {
  border: 1px dashed red;
}

.center {
  justify-content: center;
  align-items: center;
}

.center-x {
  justify-content: center;
}

.column {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}      

.distribute {
  width: 100%;
  justify-content: space-around;
}

.row {
  display: flex;
  flex-direction: row;
}  

/* main logo  */

.main-content-squeaks {
  padding: 0em 1em;
}

.logo-image-container {
  height: 2.5em;
  width: 2.5em;
}

/* breakpoints */

@media screen and (min-width: 600px) {

  

  .app {
    width: 50%;
  }
}