.squeak {
  border: 2px solid rgb(7, 95, 133);
  border-radius: .75em;
  min-height: 5em;
  width: 90%;
  padding: .5em;
  box-shadow: .3em .3em rgb(7, 95, 133);
  margin-bottom: 1em;
}

.squeak-text {
  padding: .5em;
}

.squeak-options {
  margin-top: .5em;
  justify-content: space-around;
}