.squeak {
  border: 2px solid rgb(7, 95, 133);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: .75em;
  min-height: 5em;
  padding: .5em;
  box-shadow: .3em .3em rgb(7, 95, 133);
  margin-bottom: 1em;
  width: 80%;
}

.squeak-avatar-container {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 2px solid rgb(7, 95, 133);
  border-radius: .5em;
  box-shadow: .1em .1em rgb(7, 95, 133);

}

.squeak-username {
  font-size: 1.5em;
  padding-left: .5em;
}

.squeak-report-button {
  position: relative;
  display: inline-block;
}

.squeak-report-button .squeak-report-button-tooltip {
  visibility: hidden;
}

.squeak-report-button:hover .squeak-report-button-tooltip {
  visibility: visible;
}


.squeak-delete-button {
  position: relative;
  display: inline-block;
}

.squeak-delete-button .squeak-delete-button-tooltip {
  visibility: hidden;
}

.squeak-delete-button:hover .squeak-delete-button-tooltip {
  visibility: visible;
}

.squeak-nut-button {
  position: relative;
  display: inline-block;
}

.squeak-nut-button .squeak-nut-button-tooltip {
  visibility: hidden;
}

.squeak-nut-button:hover .squeak-nut-button-tooltip {
  visibility: visible;
}


.squeak-user-info {
  align-items: center;
}

.admin-squeak-approve {
  position: relative;
  display: inline-block;
}

.admin-squeak-approve .admin-squeak-approve-tooltip {
  visibility: hidden;
}

.admin-squeak-approve:hover .admin-squeak-approve-tooltip {
  visibility: visible;
}

.admin-squeak-deny {
  position: relative;
  display: inline-block;
}

.admin-squeak-deny .admin-squeak-deny-tooltip {
  visibility: hidden;
}

.admin-squeak-deny:hover .admin-squeak-deny-tooltip {
  visibility: visible;
}




.squeak-options {
  margin-top: .5em;
  justify-content: space-around;
}