/* elements  */
img {
  height: 100%;
  width: 100%;
}

/* classes */



/* attributes */

.column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.center-x {
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.border {
  border: 1px dashed red;
}